/* some style */

body {
    padding-top: 4em;
}

.map-container {
    height: 800px;
    border: none;
}

.pswp__caption a{
    color: #ccc;
}

.leaflet-div-icon {
    text-align: center;
}

.leaflet-div-icon span{
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
}
