/* some style */
body{
    width: 960px;
    margin: auto;
}

.container {
    width: 600px;
    margin: auto;
}

.map-container {
    height: 800px;
    width: 800px;
    margin: auto;
    border: none;
}

.page-title {
    text-align: center;
}

ul.navigation {
    text-align: center;
    list-style-type: none;
}

ul.navigation li {
    display: inline;
}


.pswp__caption a{
    color: #ccc;
}

.leaflet-div-icon {
    text-align: center;
}

.leaflet-div-icon span{
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
}
